<!DOCTYPE html>

<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/css/forum.css">
<link rel="stylesheet" type="text/css" href="/css/topNav.css">


<script>

  $(function () {
    $("#nav-placeholder").load("./topNav");
  });

  $(function () {
    $("#forum-nav-placeholder").load("./forumNav");
  });

  var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
  var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
    return new bootstrap.Dropdown(dropdownToggleEl)
  })
</script>

<body>
  <div id="nav-placeholder"></div>
  <div class="card" style="padding: 30px;">
  <a class="btn light" href="/forum_mainpage">back</a>

    <div class="card-header">
      <div class="row">
        <h1>
          <%= forumTitle%>
        </h1>
        <p style="float: right;">Uploaded by <%= uploader%></p>
      </div>
    </div>
    <div class="card-body">
      <%= forumContent%>
    </div>
  </div>


    <div style="background-color: rgb(214, 213, 213); padding: 30px;"">
      Replies (<%= numOfReplies%>)
    </div>
     
      <% replyPosts.forEach(function(reply) { %>
    <div>
      <!-- <%= reply.forumReplyId %> -->
        <div class="container">
          <h5>
            <%= reply.username %>
          </h5>
          <%= reply.reply %>
          <br>
          Uploaded: <%= reply.currentTime %>
        </div>
      <hr>
      
    </div>
    <% }); %>
    <div style="background-color: rgb(214, 213, 213); padding: 30px;"">
      <form id="form" method="POST" action="addReply">
        <div class="form-group">
          <!-- <label for="userReply">Reply to post</label> <span id="nameAlert"></span> -->
          <input rows="3" type="text" class="form-control" id="userReply" name="userReply" placeholder="Reply to post" required>
        </div>
        <div class="form-group">
          <!-- <label for="userReply">Reply to post</label> <span id="nameAlert"></span> -->
          <input rows="3" type="text" class="form-control" id="<%=forumId%>" value="<%=forumId%>" name="forumId" placeholder="<%=forumId%>" hidden>
        </div>
        <div>
          <button type="submit" id="submitBtn" onclick="refreshPage()" class="btn btn-danger"  > Add</button>
        </div>
      </form>
    </div>
</body>

</html>