<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <div class="navbar">
          <p>Mood.ly</p>
          <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/mood_tracker">Mood Tracker</a></li>
                <li><a href="/journal">Journal</a></li>
                <li><a href="/forum">Forum</a></li>
                <li><a href="/tips">Tips</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
          </nav>
        </div>
    </header>
 
    <div class="homepage_carousel">
        <div class="mySlides fade">
            <img src="/assets/carousel_1.jpg">
            <p class="tipsTitle">10 Essential Tips for Mental Well-Being</p>
            <div class="readButton">
                <a href="https://www.healthhub.sg/live-healthy/1926/10-Essentials-for-Mental-Well-Being">Read more!</a>
            </div>
        </div>
        <div class="mySlides fade">
            <img src="/assets/carousel_2.jpg">
            <p class="tipsTitle">10 Proven Ways to Achieve Mental Wellness</p>
            <div class="readButton">
                <a href="https://www.healthxchange.sg/wellness/mental-health/ten-ways-achieve-mental-wellness">Read more!</a>
            </div>
            
        </div>
        <div class="mySlides fade">
            <img src="/assets/carousel_3.png">
            <p class="tipsTitle">7 Essential Tips for Mental Wellness</p>
            <div class="readButton">
                <a href="https://www.rafflesmedicalgroup.com/health-resources/health-articles/7-essential-tips-for-mental-wellness/">Read more!</a>
            </div>
        </div>
        <div style="text-align: center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span>
        </div>
    </div>
    
    <p class="heading">Forum : Scroll to find more!</p>
    <div class ="homepage_forum">
        <% forumItem.forEach(function(item) { %>
            <div class="forum">
                <p class="forumTitle"><%= item.forumTitle %></p>
                <p class="forumContent"><%= item.forumContent %></p>
                <a href="forums.html">Forum Page</a>
            </div>
        <% }) %>
    </div>

<script src="/js/homepage.js"></script>
</body>

</html>
