<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <div class="navbar">
        <p>Mood.ly</p>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mood-tracker.html">Mood Tracker</a></li>
            <li><a href="/journal.html">Journal</a></li>
            <li><a href="/forum.html">Forum</a></li>
            <li><a href="/tips.html">Tips</a></li>
            <li><a href="/profile.html">Profile</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="profile">
      <img src="/assets/proimg.png" />
      <p><%= userUsername %></p>
      <button class="profile_edit">Edit Profile</button>
      <button class="log_out">Log Out</button>
    </div>

    <div class="profile_particulars">
      <div class="particular">
        <p class="field_name">Password :</p>
        <p class="field_input"><%= userPassword %></p>
      </div>
      <div class="particular">
        <p class="field_name">Name :</p>
        <p class="field_input"><%= userFullName %></p>
      </div>
      <div class="particular">
        <p class="field_name">Gender :</p>
        <p class="field_input"><%= userGender %></p>
      </div>
      <div class="particular">
        <p class="field_name">Email :</p>
        <p class="field_input"><%= userEmail %></p>
      </div>
      <div class="particular">
        <p class="field_name">Contact No. :</p>
        <p class="field_input"><%= userPhoneNumber %></p>
      </div>
      <div class="particular">
        <p class="field_name">Educational Level :</p>
        <p class="field_input"><%= userEducationalLevel %></p>
      </div>
      <div class="particular">
        <p class="field_name">Name of School :</p>
        <p class="field_input"><%= userSchool %></p>
      </div>
    </div>
<!--     <a href="/sessionLogout">Log out</a> -->
  </body>
</html>
