/*HEADER CSS*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
header {
  margin: 0;
  background: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

header {
  background: #5ca0d1;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 20px 0px 20px 20px;
  width: 30px;
}

.navbar p {
  float: left;
  color: white;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 40px;
  margin-top: -16px;
  padding-top: 18px;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a:hover {
  color: #ffffff;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav button {
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: -5px 15px 0px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.login {
  background-color: white;
  color: #18a0fb;
}

.login:hover {
  background-color: #e5e7e9;
}

.register {
  background-color: #18a0fb;
  color: white;
}

.register:hover {
  background-color: #85c1e9;
}

/* CAROUSEL CSS */
.mySlides {
  display: none;
}

.homepage_carousel img {
  vertical-align: middle;
  width: 100%;
}

.homepage_carousel {
  position: relative;
  margin: auto;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* TIPS CSS */
.heading{
  font-size: 20px;
  font-weight: bold; 
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 20px;
  margin-left: 10px;
}

.homepage_tips {
  display: flex;
  overflow-x: auto;
  margin-left: 30px;
}

.homepage_tips::-webkit-scrollbar {
  width: 0;
}

.homepage_tips .tips {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 5px solid black;
  padding: 30px;
  margin-right: 20px;
  border-radius: 30px;
  text-align: center;
}

.homepage_tips .tipsTitle{
  font-size: 25px;
  font-weight: bold;
}

.homepage_tips .tipsIntro{
  font-size: 25px;
  font-weight: bold;
}

.homepage_forum {
  clear: both;
  display: flex;
  overflow-x: auto;
  margin-left: 30px;
}

.homepage_forum::-webkit-scrollbar {
  width: 0;
}

.homepage_forum .forum {
  min-width: 400px;
  height: 300px;
  background-color: white;
  border: 5px solid black;
  padding: 30px;
  margin-right: 20px;
  border-radius: 30px;
  text-align: center;
}

.profile_edit {
  border: 2px solid #18a0fb;
  border-radius: 5px;
  margin: 20px 50px;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: #77baeb;
  float: right;
}

.profile_edit:hover {
  background-color: #e5e7e9;
}

.profile {
  height: 200px;
  width: 200px;
  margin: 90px auto 0px auto;
  background-color: #cfdce6;
  border-radius: 50%;
}

.profile img {
  width: 180px;
  margin-left: 10px;
}

.profile p {
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-top: 30px;
  font-family: "Roboto Condensed", sans-serif;
  color: #559acb;
}

.profile_particulars {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0px 30px;
  margin: 100px auto 0px auto;
  width: 50%;
}

.profile_particulars .field_name {
  padding: 10px;
  font-size: 20px;
  color: #559acb;
  display: inline-block;
  text-align: right;
  width: 200px;
}

.profile_particulars .field_input {
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
  display: inline-block;
  width: 500px;
  border: 2px solid #559acb;
  vertical-align: center;
  background-color: #f7eeee;
}
