* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* html {
  font-size: 62.5%;
} */

.container {
  width: max-content;
  height: 100vh;
  /* background-color: #12121f; */
  color: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 100%;
  height: 70rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 3rem rgba(255, 255, 255, 0.4);
}

.month {
  width: 100%;
  height: 15rem;
  background-color: #eeead2;
  color: #7e6e5a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(75, 69, 69, 0.5);
}

.month i {
  font-size: 4rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.weekdays div {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(126, 95, 95, 0.5); */
  /* border: 1px solid black; */
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.days div {
  font-size: 1rem;
  width: calc(100% / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
  transition: background-color 0.2s;
  /* border: 1px solid black; */
}

.days div:hover:not(.today) {
  background-color: #5895b1;
  /* border: 0.2rem solid #777; */
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}
/* 
.today {
  border:0.4rem solid #7e6e5a
} */

@media only screen and (max-width: 425px) {
  .weekdays div {
    font-size: 1rem;
  }
}
